body {
    background: rgb(0, 100, 255);
}
h1 {
    color: rgb(0, 255, 100);
    font-family: "Comic Sans MS";
}
h2 {
    color: rgb(0, 255, 100);
    font-family: "Comic Sans MS";
}
input {
    font-family: "Comic Sans MS";
    background: rgb(0,255,100);
    color: rgb(0, 100, 255);
}
input::placeholder {
    color: inherit;
}
button {
    color: rgb(0, 100, 255);
    font-family: "Comic Sans MS";
}